.videosBlock{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
.channelTitle{
    color: #fff;
    font-size: 1rem;

}
.videoTitle{
    color: #fff;
    text-decoration: none;
}
@media (max-width: 1110px){
    .videosBlock{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 920px){
    .videosBlock{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 700px){
    .videosBlock{
        grid-template-columns: repeat(1, 1fr);
    }
}
